# Dependências
node_modules/

# Build de produção
build/

# Variáveis de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Cache
.cache/
.eslintcache

# Sistema operacional
.DS_Store
Thumbs.db

# VS Code
.vscode/