# --- FRONTEND ---
frontend/node_modules/
frontend/dist/
frontend/npm-debug.log*

# --- BACKEND ---
backend/target/
backend/.mvn/
backend/*.class

# --- GERAL ---
.vscode/
.idea/
*.iml
.DS_Store
Thumbs.db
node_modules/
target/
HELP.md